@font-face {
  font-family: "Poppins";
  src: url("../src/componets/assets/font/Poppins/Poppins-BoldItalic.ttf") format("woff2")
}

@font-face {
  font-family: "slug_lion";
  src: url("../src/componets/assets/font/the_slug_and_lion/The\ Slug\ and\ Lion.otf") format("woff2")
}

*{
  margin: 0;
  padding: 0;
}
.app-overflow{
  overflow: hidden;
}
.main-container{
  max-width: 1440px;
  margin: auto;
}